@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light-gray);
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  background: var(--white);
}
h1{
  color: var(--dark-blue);
  font-size: 28px;
}
p{
  color: var(--grayish-blue);
  font-size: 20px;
}

@media (max-width: 425px){
  body{
    padding: 0 2vw;
  }
  .wrapper{
    width: 100%;
  }
  h1{
    font-size: 7vw;
  }
  p{
    font-size: 5vw;
  }
}